@model MovContainer.Models.Movimentation

@{
    ViewData["Title"] = "Inserir";
}

<h1>Inserir</h1>

<h4>Movimentação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovTypeId" class="control-label">Tipo de Movimentação</label>
                <select asp-for="MovTypeId" class ="form-control" asp-items="ViewBag.MovTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContainerId" class="control-label">Container</label>
                <select asp-for="ContainerId" class ="form-control" asp-items="ViewBag.ContainerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dt_Init" class="control-label">Data Início</label>
                <input asp-for="Dt_Init" class="form-control" />
                <span asp-validation-for="Dt_Init" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dt_Fin" class="control-label">Data Fim</label>
                <input asp-for="Dt_Fin" class="form-control" />
                <span asp-validation-for="Dt_Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Inserir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
