@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo(a)!!!</h1>
    <p>Escolha entre as opções abaixo!</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Containers" asp-action="Index">Adicionar Containers</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Movimentations" asp-action="Index">Adicionar Movimentação</a>
</div>
