@model MovContainer.Models.Container

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Container</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContainerTypeId" class="control-label">Tipo</label>
                <select asp-for="ContainerTypeId" class ="form-control" asp-items="ViewBag.ContainerTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContainerStatusId" class="control-label">Status</label>
                <select asp-for="ContainerStatusId" class ="form-control" asp-items="ViewBag.ContainerStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContainerCategoryId" class="control-label">Categoria</label>
                <select asp-for="ContainerCategoryId" class ="form-control" asp-items="ViewBag.ContainerCategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
